* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  width: 250px;
  border: none;
  border-radius: 10px;
}

#controls {
  display: flex;
  justify-content: center;
}
.drag-handle {
  cursor: grab;
}
.topHeaderButton {
  background: none;
  border: none;
  padding: 3px;
  font-size: 30px;
  font-weight: bold;
}
.topHeaderButton:hover {
  color: red;
}
#controls button {
  margin: 0;
}
#controls button:hover {
  color: blue;
}
#stopBtn {
  padding: 5px;
  font-size: 50px;
}

#ttsBtn {
  padding: 5px;
  font-size: 50px;
}

#fastBtn {
  font-size: 25px;
}

#slowBtn {
  font-size: 25px;
}

#topHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
}
#title {
  margin-left: 75px;
  margin-right: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}
#settingsBtn {
  padding-right: 1px;
  padding-top: 10px;
  font-size: 15px;
}
