* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  width: 250;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #3a3a3a;
  color: #6ebdfe;
}
